// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
@import "./theme_variables";

body {
     font-family: $normal-text;
     margin: 0;
     font-size: 18px;
     line-height: 1.25;
     color: $dark-text;
}

.home-banner {
     display: grid;
     height: 900px;
     background-image: url(../img/home-header.jpg);
     background-size: cover;
     position: relative;

     .navbar-toggler {
          border: 2px solid $primary;
          padding: 5px;
          margin: 10px 0;

          .bar {
               height: 5px;
               width: 30px;
               border-radius: 4px;
               margin: 5px;
               background-color: $primary;
          }
     }
     #wrapper-navbar {
          width: 100%;
          top: 0;

          #main-nav {
               ul {
                    display: flex;
                    justify-content: space-between;

                    li {
                         padding: 5px;
                         margin-left: 5px;
                         a {
                              text-transform: uppercase;
                              font-size: 20px;
                              transition: all 0.3s ease 0s;
                         }
                         &.current_page_item a {
                              
                                   border-bottom: 2px solid #312931;
                              
                              &:hover {
                                   background-color: transparent;
                              }
                         }
                    }
               }
          }
     }

     .home-headline-container {
          display: grid;
          grid-template-columns: 1fr 1fr;

          .headline-wrapper {
               .headline-content {
                    background-color: $primary;
                    opacity: 0.95;
                    border-radius: 4px;
                    padding: 20px 35px;

                    .big-text {
                         font-family: $headline-text;
                         color: $light-text;
                         font-size: 2.5rem;
                         margin: 10px 0;
                    }
                    .buttons-container {
                         margin: 20px 0;

                         .button-light {
                              background-color: $secondary;
                              margin-right: 15px;
                              transition: all 0.3s ease 0s;

                              &:hover {
                                   background-color: $white;
                              }
                         }
                    }
               }
          }
     }
}

@media (max-width: 576px) {
     .home-banner {
          height: 550px;
          display: grid;
          grid-auto-rows: 1fr 5fr;

          #wrapper-navbar {
               #main-nav ul li {
                    padding: 0;
                    margin: 0;

                    a {
                         padding-left: 10px;
                         &:hover {
                              background-color: $white;
                              color: $dark-text;
                         }
                    }

                    &.current_page_item a {
                         border: none;
                         background-color: $primary;
                         color: $light-text;

                         &:hover {
                              background-color: $primary;
                              color: $light-text;

                         }
                    }
               }
          }
          .container {
               display: grid;
               .home-headline-container {
                    place-items: center;
                    grid-template-columns: 1fr;

                    .headline-wrapper {
                         width: 420px;
                         .headline-content {
                              padding: 25px;
                              .big-text {
                                   font-size: 35px;
                                   padding: 10px 0;
                                   margin: 0;
                              }
                              .buttons-container {
                                   padding: 10px 0;
                                   margin: 0;
                              }
                         }
                    }
               }
          }
     }
}
